.cart {
  display: grid;
  grid-template-rows: 80px 1fr 80px 80px;
}

.cart ul {
  padding: 0px;
}
.cart h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.4rem;
}
.cancelBtn,
.checkoutBtn {
  margin: 10px 50px;
  border: none;
  font-size: 20px;
}
.cancelBtn {
  background: rgb(238, 238, 238);
}
.checkoutBtn {
  background-color: black;
  color: white;
}
.cancelBtn:hover,
.checkoutBtn:hover {
  cursor: pointer;
}
.cartPage {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 100px;
  width: 100vw;
}

@media screen and (max-width: 800px) {
  .cart {
    width: 75%;
    grid-template-rows: 140px 2fr 70px 70px;
  }
  .cancelBtn,
  .checkoutBtn {
    margin: 10px 0px;
    font-size: 14px;
  }
  .cartPage {
    flex-direction: column;
    align-items: flex-start;
    top: 150px;
  }
}
